*{
    margin: 0;padding: 0;
}
body{
    background-color: rgb(17, 17, 17);
}
.anchor{
    text-decoration: none;
    color: white;
}
.theme_menu{
    border: 2px solid red;
    width: 50px;
    height: 550px;
    position: fixed;
    left: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theme{
    margin-top: 18px;
}
.menu{
    margin-top: 100px;
}
.menuicon{
    margin-top: 15px;
    box-shadow:-3px 2px 12px 0px black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 45px;
    height:45px;
}
.icona{
    width: 24px;
    height: 24px;
}
.sideYellowBar{
    position: fixed;
    height: 100%;
    width: 25%;
    background-color: #ffb400;
    clip-path: polygon(0 0, 49% 0, 100% 100%, 0 100%);
    z-index: -1;

}
.home_page{
    border: 2px solid rgb(0, 42, 255);
    display: flex;
    flex-direction: row;
    align-items: center;

}
.author{

    margin: 40px;
    width: 500px;
    height: 650px;
    border-radius: 5%;
    background: url(https://tunis-nextjs.netlify.app/assets/img/hero/dark.jpg);
    box-shadow: -3px 2px 20px 6px black;
    background-size: contain;
}
.homeContent{
    margin: 120px;
    width: 550px;
    height: 350px;
}
.name{
    font-family: Poppins,sans-serif;
    color: #ffb400;
    font-size: 46px;
    font-weight: 800;
}
.designation{
    font-family: Poppins,sans-serif;
    color: white;
    font-size: 46px;
    font-weight: 800;
}
.summary{
    color: white;
    font-family: Open Sans,sans-serif;
}
.moreAboutMe{
    margin-top: 17px;
    border: 2px solid #ffb400;
    border-radius: 30px;
    width: 223px;
    height: 50px;
    color: white;
    font-weight: 700;
    background-color: transparent;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
#hovercolor:hover{
    background-color: #ffb400;
}
